<!DOCTYPE html>
<html>
    <head>
        {include file="common/head"/}
        <style>
            * {
                margin: 0;
                padding: 0;
            }
            .news{line-height:.6rem; color:#333;}
            .title{
                font-size:.5rem;
                text-align:center;
            }
            .data{ text-align:center; color:#999999; font-size:.3rem; margin-bottom:.3rem;}
            .content{ font-size:.35rem;}
            .content p{ }
			.content img{ width:100%;}
        </style>
    </head>

    <body class="news">
        <div class="content">
            <p><img src="http://fmall.yuntim.cn/public//uploads/about.jpg"></p>
        </div>
    </body>
</html>