<!DOCTYPE html>
<html>
    {include file="common/head"/}
    </head>
    <body>
        <div class="wrapper">

            <div class="list-box">
                <div class="list">
                    <a href="#">
                        <div class="box2 ">我的服务商
                            <div class="list-des"><span>{$info.nickname}</span></div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="box2">服务商头像
                            <div class="list-des"><span><img class="herd-img" src="{$info.avatarurl}" /></span></div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="box2 ">服务商编号
                            <div class="list-des"><span>{$info.serviceid}</span></div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="box2 ">服务商手机
                            <div class="list-des"><span>{$info.mobile}</span></div>
                        </div>
                    </a>

                </div>
            </div>
        </div>

    </body>

</html>